@model List<GalleryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}

<<div class="container">
    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="header d-flex justify-content-between my-5">
                        <h1 class="card-title my-3">Events</h1>
                        <div><a class="btn btn-success btn-sm my-4" asp-controller="Gallery" asp-action="Create">Create</a></div>




                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> No </th>
                                    <th> Image </th>
                                    <th> Project </th>
                                    <th> Title </th>
                                    <th> Setting </th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var gallery in Model)
                                {
                                    <tr>
                                        <td> @count </td>
                                        <td>   <img style="width:100px; height:50px; border-radius:unset" src="~/Assets/images/Gallery/@gallery.Image" alt="Poster" /></td>
                                        <td> @gallery.Project </td>
                                        <td>@gallery.Title  </td>
                                       
                                        <td>
                          
                                            <a class="btn btn-inverse-warning btn-sm" asp-controller="Gallery" asp-action="Edit" asp-route-Id="@gallery.Id"><i class="mdi mdi-grease-pencil"></i></a>
                                            <form style="display:inline;" asp-controller="Gallery" asp-action="Delete" asp-route-Id="@gallery.Id">
                                                <button type="submit" class="btn btn-danger btn-sm"><i class="mdi mdi-delete-forever"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    count++;
                                }






                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>